#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Roboto Mono", monospace;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.myNameIs {
  flex: 1;
  position: absolute;
  color: white;
  font-size: 50px;
  z-index: 100;
  text-align: left;
  top: 40px;
  left: 135px;
  font-weight: bold;
}

.myName {
  flex: 1;
  position: absolute;
  top: 105px;
  left: 135px;
  color: white;
  font-size: 55px;
  z-index: 100;
  text-align: left;
  font-weight: bold;
}

.mydescription {
  position: absolute;
  text-align: left;
  font-size: 25px;
  left: 135px;
  top: 250px;
  width: 450px;
}

.balkanDescription {
  position: absolute;
  text-align: left;
  font-size: 25px;
  bottom: -320px;
  right: 20px;

  width: 850px;
}

.gdevDescription {
  position: absolute;
  text-align: left;
  font-size: 25px;
  bottom: -820px;
  right: 20px;

  width: 850px;
}

.toDoDescription {
  position: absolute;
  text-align: left;
  font-size: 25px;
  bottom: -1350px;
  right: 20px;

  width: 850px;
}

.more {
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: -1450px;
  left: 610px;
}
.line {
  position: absolute;
  z-index: 100;
  width: 100%; /* Adjust the width to your preference */
  height: 2px; /* Set height to 1px for a thin line */
  background-color: white; /* Set the color of the line */
  bottom: -1450px;
  left: 0;
}

.info {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  bottom: -1870px;
  left: -550px;
}
